.time-cont {
    font-family: "Montserrat";
    font-weight: lighter;
}

.timer {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.value {
    font-size: 42px;
    font-weight: lighter;

}

.label {
    margin-top: 8px;
    text-transform: uppercase;
    font-size: 0.75em;
}

/* Стилі для кнопки "Start" */
button[data-start] {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 8px;
}

/* Стилі для інпута datetime-picker */
#datetime-picker {
    margin-top: 20px;
    padding: 10px;
    font-size: 1em;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    color: #808080;
    border-radius: 4px;

}


#datetime-picker:hover {
    color: #000000;
    /* Колір тексту при hover */
}

#datetime-picker:active {
    color: #4e75ff;
    /* Колір тексту при активному стані */
}

/* Стилі для кнопки */
button[data-start] {
    background-color: #4e75ff;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

button[data-start]:hover {
    background-color: #6C8CFF;
}

button[data-start]:disabled {
    background-color: #cfcfcf;
    color: #989898;
    cursor: default;
}

/* Стилі для iziToast */
.iziToast {
    border-radius: 4px !important;
    /* Встановлюємо радіус границі */
}

.iziToast-error {
    background-color: #B51B1B !important;
    /* Колір фону для повідомлень про помилку */
}